@import "../css/AdminPage.css";
@import "../css/App.css";
@import "../css/Article.css";
@import "../css/Auth.css";
@import "../css/Header.css";
@import "../css/Main.css";
@import "../css/ModalCategory.css";
@import "../css/ProductDetail.css";
@import "../css/ProductList.css";
@import "../css/ProductRegister.css";

/* 기본 설정 (리셋, 변수) */
@import "../css/reset.css";
@import "../css/base.css";

@import "../css/tailwind.css";