/* Tailwind CSS v4 */
@import "tailwindcss";

/* 기본 설정 (리셋, 변수) */
@import "../css/reset.css";
@import "../css/base.css";

/* @apply를 사용하는 커스텀 모듈 */
@import "../css/layout.css";
@import "../css/modules.css";

/* 컴포넌트 스타일 */
@import "../css/AdminPage.css";
@import "../css/App.css";
@import "../css/Article.css";
@import "../css/Auth.css";
@import "../css/Header.css";
@import "../css/Main.css";
@import "../css/ModalCategory.css";
@import "../css/ProductDetail.css";
@import "../css/ProductList.css";
@import "../css/ProductRegister.css";
