/* 전역 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #111;
  line-height: 1.2;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

/* 공통 컨테이너 */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  min-height: calc(100vh - 120px);
  box-sizing: border-box;
}

.box-sizing {
  box-sizing: border-box;
}

/* 색상 */
.color-main {
  color: #b17576;
}

.color-fff {
  color: #fff;
}

.color-ddd {
  color: #ddd;
}

.color-aaa {
  color: #aaa;
}

.color-333 {
  color: #333;
}

.color-777 {
  color: #777;
}

.bg-ddd {
  background-color: #ddd;
}

.bg-aaa {
  background-color: #aaa;
}

.bg-333 {
  background-color: #333;
  background: #333;
}

.bg-transparent {
  background-color: transparent;
  background: transparent;
}

.filter-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 40% 어두움 */
  pointer-events: none; /* 클릭 이벤트 통과 */
  z-index: 1; /* 이미지보다 위, 텍스트보다 아래로 조정 가능 */
}

/* 텍스트 스타일 */
.text-center {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

/* 텍스트 크기/굵기 */
.title-16 {
  font-size: 16px;
  font-weight: 600;
}

.title-18 {
  font-size: 18px;
  font-weight: 600;
}

.title-20 {
  font-size: 20px;
  font-weight: 600;
}

.title-24 {
  font-size: 24px;
  font-weight: 700;
}

.title-32 {
  font-size: 32px;
  font-weight: 700;
}

.title-36 {
  font-size: 36px;
  font-weight: 700;
}

.title-56 {
  font-size: 56px;
  font-weight: 700;
}

.text-16 {
  font-size: 16px;
  font-weight: 400;
}

.text-18 {
  font-size: 18px;
  font-weight: 400;
}

.text-24 {
  font-size: 24px;
  font-weight: 400;
}

.error-message {
  color: #b17576;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.hover {
  transition: color 0.2s;
  cursor: pointer;
  white-space: nowrap;
}

.hover:hover {
  color: #b17576;
}

/* 공통 스타일 */

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  width: 400px;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 16px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  color: #aaa;
  font-size: 16px;
  font-weight: 400;
  transition: border-color 0.2s;
  box-sizing: border-box;
  resize: none;
}

.input:focus {
  outline: none;
  color: #b17576;
  border-color: #b17576;
}

.input::placeholder {
  color: #666;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.form-group.register {
  width: 100%;
}

.label {
  color: #777;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -4px;
}

.textarea {
  max-height: 80px;
  resize: none;
  resize: vertical;
  font-family: inherit;
}

.input:focus,
.textarea:focus,
.select:focus {
  outline: none;
  border-color: #b17576;
}

.input::placeholder,
.textarea::placeholder {
  color: #666;
}

.select {
  cursor: pointer;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 15px;
  cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.register-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.link-button {
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s;
}

.link-button:hover {
  color: #fff;
}

.search-form {
  width: 800px;
  display: flex;
  gap: 8px;
  margin-bottom: 1rem;
}

.search-input,
.search-btn {
  width: 100%;
  padding: 12px 16px;
  background: #fff;
  border-style: none;
  border: 1px solid #ddd;
  border-radius: 12px;
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  cursor: pointer;
}

.search-btn {
  width: fit-content;
  appearance: none;
}

:is(.search-select, .search-input):focus {
  outline: 0;
  color: #b17576;
  border-color: #b17576;
}

.search-btn:active,
.search-btn:hover {
  color: #b17576;
  border-color: #b17576;
}

.border-hover-none:hover {
  border-color: #ddd;
}

.no-content-text {
  color: #aaa;
  font-size: 18px;
}

.category-checkbox-group {
  white-space: nowrap;
}

.category-checkbox-group::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #eee;
  margin: 1rem 0;
}

.category-checkbox-group:last-of-type::after {
  content: none;
}

.categroy-label {
  align-items: center;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s;
  background: transparent;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-primary,
.btn-outline {
  padding: 18px 48px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  border: 2px solid #fff;
}

.btn-primary {
  background: #fff;
  border: 1px solid #b17576;
  color: #b17576;
}

.btn-primary:hover {
  background: #b17576;
  border-color: #b17576;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(170, 134, 134, 0.3);
}

.btn-outline {
  background: transparent;
  color: #fff;
}

.btn-outline:hover {
  background: #fff;
  color: #111;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
}

.btn-lg {
  min-width: 200px;
}

.btn-submit {
  width: 100%;
  padding: 16px;
  border: 1px solid #b17576;
  color: #b17576;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 10px;
}

.btn-submit:hover {
  background: #b17576;
  color: #eee;
}

/* SelectBox.tsx */

/* SelectBox 전체 컨테이너 */
.custom-select-box {
  display: inline-block;
  color: #333;
  z-index: 10;

  position: relative;
}

.min135 {
  min-width: 135px;
}

.min118 {
  min-width: 118px;
  flex-shrink: 0;
}

/* 선택된 버튼 영역 */
.custom-select-button {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  font-size: 14px;
  font-weight: 400;
}

/* 버튼 focus */
.custom-select-button.open {
  border-color: #b17576;
}

.custom-select-label {
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 선택된 라벨 */
.custom-select-label.selected {
  color: #b17576;
}

/* 화살표 */
.custom-select-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  vertical-align: middle;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ccc;
  transition: transform 0.2s ease;
}

.custom-select-arrow.open {
  transform: rotate(180deg);
  border-top: 6px solid #b17576;
}

/* 옵션 리스트 */
.custom-select-options {
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 100;
  font-size: 14px;
}

/* 옵션 항목 */
.custom-select-option {
  padding: 10px 16px;
  cursor: pointer;
  white-space: nowrap;
}

.custom-select-option:hover {
  background-color: #f8f4f4;
}

.custom-select-option.selected {
  background-color: #f3e9e9;
  font-weight: 600;
}

/* placeholder 옵션 스타일 */
.custom-select-option.placeholder {
  color: #aaa;
}

.bid-box {
  width: 100%;
  padding: 12px 16px;
  background: #fff;
  border-style: none;
  border: 1px solid #ddd;
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
}

.bid-box:last-of-type {
  background-color: #eee;
}

/* flex */
.flex-box {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-center-j {
  justify-content: center;
}

.flex-center-a {
  align-items: center;
}

.flex-left-a {
  align-items: start;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  align-items: end;
}

.flex-box.gap-4 {
  gap: 4px;
}

.flex-box.gap-8 {
  gap: 8px;
}

.flex-box.gap-12 {
  gap: 12px;
}

.flex-box.gap-16 {
  gap: 16px;
}

.flex-box.gap-24 {
  gap: 24px;
}

.flex-box.gap-36 {
  gap: 36px;
}

.flex-box.gap-40 {
  gap: 40px;
}

.mb--4 {
  margin-bottom: -4px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column.gap-4 {
  gap: 4px;
}

.flex-column.gap-8 {
  gap: 8px;
}

.flex-column.gap-12 {
  gap: 12px;
}

.flex-column.gap-16 {
  gap: 16px;
}

.flex-column.gap-24 {
  gap: 24px;
}

/* svg */
.svg-wrap > svg {
  height: 100%;
}

.svg-wrap,
.svg-wrap:hover {
  cursor: pointer;
}

/* 크기 제한 */
.width-4 {
  width: 4px;
}

.width-8 {
  width: 8px;
}

.width-13 {
  width: 16px;
}

.width-16 {
  width: 16px;
}

.width-200 {
  width: 300px;
}

.width-fit {
  width: fit-content;
}

.margin-auto {
  margin: 0 auto;
}

.width-full {
  width: 100%;
}

.height-4 {
  height: 4px;
}

.height-8 {
  height: 8px;
}

/* HeaderSub > 카테고리 햄버거 버튼 */
.height-16 {
  height: 16px;
}

.height-16:hover path {
  stroke: #b17576;
}

.height-30 {
  height: 30px;
}

.height-40 {
  height: 40px;
}

.height-50 {
  height: 50px;
}

.height-70 {
  height: 70px;
}

.height-220 {
  height: 220px;
}

.height-500 {
  height: 500px;
}

.height-fit {
  height: fit-content;
}

.height-full {
  height: 100%;
}

.max-height-3rem {
  max-height: 3rem;
}

.max-height-350 {
  max-height: 350px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.radius-32 {
  border-radius: 32px;
}

.radius-full {
  border-radius: 100%;
}

.border-none {
  border: none;
}

/* position */

.position-rl {
  position: relative;
}

.position-ab {
  position: absolute;
}

.z-20 {
  z-index: 20px;
}

.top-16 {
  top: 16px;
}

.top-half {
  top: 50%;
  transform: translateY(-50%);
}

.bottom-2rem {
  bottom: 2rem;
}

.left-4 {
  left: 4px;
}

.left-16 {
  left: 16px;
}

.left-2rem {
  left: 2rem;
}

.right-4 {
  right: 4px;
}

.right-16 {
  right: 16px;
}

/* 상품 이미지 */
.product-image {
  width: 100%;
  background: #eee;
  overflow: hidden;
  position: relative;
}

.product-detail-image {
  width: 400px;
  height: 400px;
  border-radius: 16px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bid-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-image-txt {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 14px;
}

/* banner */
.banner-slide {
  flex: 0 0 100%;
  position: relative;
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

/* 구분선 */
.top-line::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #eee;
}

/* margin */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-1rem {
  margin-bottom: 1rem;
}

/* 스크롤바 */
/* Webkit 기반 브라우저 (Chrome, Edge, Safari) */
.bid-scroll::-webkit-scrollbar {
  width: 6px; /* 스크롤바 폭 */
  border: none;
}

.bid-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(170, 170, 170, 0.6);
  border-radius: 3px;
}

.bid-scroll::-webkit-scrollbar-track {
  background: transparent; /* 트랙 투명 */
}

/* Firefox */
.bid-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 170, 170, 0.6) transparent;
}

/* padding */

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.p-20-30 {
  padding: 20px 30px;
}

.pb-20 {
  padding-bottom: 20px;
}

/* SearchPage > datepicker, 카테고리옵션 조절 */

.react-datepicker-popper {
  z-index: 100;
}

.register-category .custom-select-options {
  max-height: 160px;
}

/* transition */
.trans {
  transition: all 0.3s;
}

.duration-500 {
  transition-duration: 500;
}

/* 로딩 스피너 */
.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
