.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9e9e9e;
}

.auth-box {
  min-height: 100vh;
  background: #fff;
  padding: 120px 100px 80px;
  width: 100%;
  width: fit-content;
}

.auth-links {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
  margin-top: 25px;
}

.auth-link-btn {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}

.auth-link-btn::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  height: 14px;
  width: 1px;
  background: #ddd;
}

.auth-link-btn:last-of-type::after {
  content: none;
}

.auth-link-btn:hover {
  color: #b17576;
}

.divider {
  color: #666;
}

@media (max-width: 480px) {
  .auth-box {
    padding: 30px 20px;
  }

  .input {
    padding: 12px;
    font-size: 15px;
  }

  .btn-submit {
    padding: 13px;
  }
}
