@import "../css/base.css";

.container {
  @apply w-[1280px] mx-auto relative;
}

.text-light {
  @apply text-[14px] text-[var(--color-aaa)];
}

.icon-container {
  @apply
  inline-flex flex-col items-center gap-px p-px relative flex-[0_0_auto];
}

.icon-img {
  @apply
  h-[24.5px] aspect-[0.95] relative
  mt-[-0.75px] mb-[-0.75px] ml-[-0.75px] mr-[-0.75px];
}

.cart-badge-container {
  @apply 
  flex w-[18px] h-[18px] items-center justify-center 
  rounded-full border text-center;
  background-color: var(--color-alert-red);
  border-color: var(--color-alert-red);
}

.cart-badge-count {
  @apply 
  font-medium text-[10px] leading-[7px] text-white;
  trainsition: opacity 0.3s;
}