/*
(ex) 모든 버튼에 적용할 공통 스타일
버튼
.btn-base {
  @apply py-2 px-4 font-semibold rounded shadow transition duration-200 ease-in-out;
}
.btn-primary {
  @apply btn-base text-white bg-blue-600 hover:bg-blue-700;
}
.btn-secondary {
  @apply btn-base text-gray-800 bg-gray-200 hover:bg-gray-300;
}
payment.tsx : 특정 페이지에만 쓰이는 경우 적어두기
.btn-payment {
  @apply btn-base text-gray-800 bg-gray-200 hover:bg-gray-300;
}
*/