@import "tailwindcss";

/* @apply를 사용하는 커스텀 모듈 */
@import "../css/layout.css";
@import "../css/modules.css";

/* 필요 시 사용
@import "../css/login.css"; 다른 페이지와 완전히 다른 레이아웃과 스타일 가질 때
@import "../css/dark.css"; 다크모드 등 전역색상이나 테마가 일괄적으로 변경될 때 
*/